.wrapper {
  text-align: center;

  img {
    margin-bottom: 40px;
  }

  .info {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > *:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
